.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #000;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0.95; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #a2a2a2;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #afafaf;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid 3px #932b33;
    background-color: white; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #932b33; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #932b33; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #afafaf;
  color: #000;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body::-webkit-scrollbar {
    display: none; }
  body#bg-img {
    background: url(../img/tinkering-blur.png);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(175, 175, 175, 0.75); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #932b33; }

main {
  padding: 4rem;
  min-height: calc(100vh - 40px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #932b33;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  padding-top: 5vh;
  display: grid;
  gap: 30px;
  grid-template-areas: "bioimage bio bio";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: #932b33 3px solid; }
  .about-info .bio {
    text-align: justify;
    grid-area: bio;
    font-size: 1.5rem; }

.other-photos {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap; }
  .other-photos .other-bio {
    text-align: justify;
    grid-area: obio;
    font-size: 1.5rem; }
  .other-photos .pcontainer {
    display: flex;
    flex-wrap: wrap; }
    .other-photos .pcontainer .ophoto {
      width: 50%; }
    .other-photos .pcontainer img {
      width: calc(100% - (20px * 2));
      margin: 20px; }

.projects .item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem 1.5rem;
  padding-bottom: 10vh;
  grid-template-areas: ". title title ." "projectimage projectimage pinfo pinfo"; }
  .projects .item .project-image {
    grid-area: projectimage;
    width: 100%;
    margin: auto;
    border: #fff 3px solid; }
  .projects .item .project-info {
    text-align: justify;
    grid-area: pinfo; }
  .projects .item .text-secondary {
    grid-area: title;
    text-align: center; }

#main-footer {
  height: 40px;
  text-align: center;
  padding: 1rem;
  background: #969696;
  color: #000; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .other-photos .pcontainer .ophoto {
    width: 100%; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0); }
  .menu img {
    width: 150px;
    height: 150px; }
  .about-info {
    grid-template-areas: "bioimage" "bio";
    grid-template-columns: 1fr; }
  .projects .item {
    grid-template-columns: 1fr;
    gap: 0.5rem 1.5rem;
    grid-template-areas: "title" "projectimage" "pinfo"; }
  .other-photos .pcontainer .ophoto {
    width: 100%; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
